@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
main {
    min-height: 80vh;
    margin-bottom: 50px;
}
nav {
    padding-top: 4vh;
    text-align: center;
}


.button {
    background-color: cadetblue;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

body {
    background-color: #7D4E13;

}

h1 {
    margin-top: 3vh;
    text-align: left;
    font-family: Luckiest Guy, cursive;
    letter-spacing: 2px;
    margin-left: 120px;
}

label {
    padding: 10px;
}

.button:hover {
    zoom: 1.2;
}

.docs {
    /*background-color: #1E5959;*/
    width: 80vw;
    margin: 20px auto;
    border: solid #452600 1px;
    border-radius: 30px;
    padding-inline: 15px;
    color: black;

}


.docs-content {
    width: 32%;
    /*background-color: #0C7D74;*/
    padding: 30px;



}

.docs-content-center {
    border-inline: solid #452600 1px;
}
   @media (max-width: 480px){
       .docs-content-center {
    border-block: solid #452600 1px;
}
   }


.item_icon img {
        filter: invert(100%);
}
.docs-content h4 {
    margin-top: 10px;
}

.docs-content .text-light {
    font-size: 10px;
    color: #D4A56A !important;
}

.card {
    background-color: #E6B87C;
}

.card-body {
    background-color: #FFDBAD;
}
.nav-bottom {
    background-color: rgba(106, 112, 224, 0.1);

}