{% extends 'base.html' %}
{% load static %}

{% block title %} Documentation {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">

    <h1 class="">Check out our Pups</h1>

    <br>
    <br>
    <section class="image-grid" style="margin: 0 auto">
        <div class="container-xl">
       <div class="card-group">
                {% for pet in pet_objects %}
                    <div class="col-md-3  ">
                            <div class="card mb-3" style="width: 300px; margin: 0 auto">
                                <div class="row g-0">
                                    <div class="col-md-4" style="margin: auto auto">
                        <a class="img-a" href="">

                                        <img src="{{ pet.get_profile_pic.0.img.url }}"
                                             class="img-fluid rounded-start img-fluid"
                                             alt="..."
                                             data-caption="{{ pet.name | title }} <br><br> Age: {{ pet.age }} <br><br> Breed: {{ pet.breed }}<br><br> Owner: {{ pet.owner }}">
                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">

                                        {% if pet.owner.id == request.user.id or pet.owner.id == 1 and request.user.is_authenticated  %}
                                        <a href="{% url 'pet_update' pet.pk %}"><i class="bi-pencil-square" style="float: right; text-align: right"></i></a>
                                        {% endif %}

                                            <h5 class="card-title">{{ pet.name }}</h5>
                                            {% if pet.get_profile_pic|length < 2 %}
                                                <p class="card-text">{{ pet.name }} has {{ pet.get_profile_pic|length }}
                                                    photo </p>
                                            {% elif pet.get_profile_pic|length > 2 %}
                                                <p class="card-text">{{ pet.name }} has {{ pet.get_profile_pic|length }}
                                                    photos </p>
                                            {% endif %}
                                            <p class="card-text"><small class="text-muted">Age: {{ pet.age }}</small>
                                            </p>
                                            <p class="card-text"><small
                                                    class="text-muted">Breed: {{ pet.breed }}</small>
                                            <p class="card-text"><small
                                                    class="text-muted">Owner: {{ pet.owner }}</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>



    <div class="modal lightbox-modal" id="lightbox-modal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div class="modal-body">
                    <div class="container-fluid p-0">
                        <!-- JS content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        const imageGrid = document.querySelector(".image-grid");
        const links = imageGrid.querySelectorAll(".img-a");
        const imgs = imageGrid.querySelectorAll("img");
        const lightboxModal = document.getElementById("lightbox-modal");
        const bsModal = new bootstrap.Modal(lightboxModal);
        const modalBody = document.querySelector(".modal-body .container-fluid");

        for (const link of links) {
            link.addEventListener("click", function (e) {
                e.preventDefault();
                const currentImg = link.querySelector("img");
                const lightboxCarousel = document.getElementById("lightboxCarousel");
                if (lightboxCarousel) {
                    const parentCol = link.parentElement.parentElement;
                    const index = [...parentCol.parentElement.children].indexOf(parentCol);
                    const bsCarousel = new bootstrap.Carousel(lightboxCarousel);
                    bsCarousel.to(index);
                } else {
                    createCarousel(currentImg);
                }
                bsModal.show();
            });
        }

        function createCarousel(img) {
            const markup = `
    <div id="lightboxCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
      <div class="carousel-inner">
        ${createSlides(img)}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#lightboxCarousel" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#lightboxCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    `;

            modalBody.innerHTML = markup;
        }

        function createSlides(img) {
            let markup = "";
            const currentImgSrc = img.getAttribute("src");

            for (const img of imgs) {
                const imgSrc = img.getAttribute("src");
                const imgAlt = img.getAttribute("alt");
                const imgCaption = img.getAttribute("data-caption");

                markup += `
    <div class="carousel-item${currentImgSrc === imgSrc ? " active" : ""}">
      <img src=${imgSrc} alt=${imgAlt}>
      ${imgCaption ? createCaption(imgCaption) : ""}
    </div>
    `;
            }

            return markup;
        }

        function createCaption(caption) {
            return `<div class="carousel-caption">
     <p class="m-0">${caption}</p>
    </div>`;
        }
    </script>

{% endblock content %}