{% extends 'puppy_pic_list.html' %}
{% block title %} {{ puppy_pic.name | title }} {% endblock %}

{% block content %}
    <div style="text-align: center">
        <h1>{{ puppy_pic.name | title }}</h1>
        <h3>Description: {{ puppy_pic.description | title }}</h3>

{#        <a class="button" href="{% url 'snack_update' snack.pk %}">Update {{ snack.name | title }}</a>#}
{#        <a class="button" style="background-color: orangered" href="{% url 'snack_delete' snack.pk %}">Delete {{ snack.name | title }}</a>#}
    </div>
{% endblock content %}
